html,
body {
  margin: 0;
  height: 100%;
}
body .wrapper {
  background-color: #f5f5f5;
  height: 100%;
}
body .wrapper header {
  background-color: #333333;
}
body .wrapper header .content {
  width: 974px;
  margin: 0 auto;
}
body .wrapper header .content h2 {
  float: left;
  color: #ffffff;
  font-family: "Open Sans", "sans-serif";
  font-size: 17px;
  font-weight: 100;
}
body .wrapper header .content .top-menu {
  float: right;
}
body .wrapper header .content .main-menu {
  clear: right;
}
body .wrapper header .content .main-menu ul {
  margin-bottom: 0;
  padding-bottom: 10px;
}
body .wrapper header .content .main-menu ul li a {
  font-size: 14px;
}
body .wrapper header .content .main-menu ul .open {
  background-color: #ffc30f;
  padding: 11px 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
body .wrapper header .content .main-menu ul .open a {
  color: #240700;
}
body .wrapper header .content nav ul li {
  display: inline;
}
body .wrapper header .content nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans", "sans-serif";
  font-size: 12px;
}
body .wrapper header .content:after {
  content: '';
  clear: both;
  display: block;
}
body .wrapper .tickets-category-nav-bar {
  background-color: #ffc30f;
}
body .wrapper .tickets-category-nav-bar .content {
  width: 974px;
  margin: 0 auto;
}
body .wrapper .tickets-category-nav-bar .content nav ul {
  margin: 0;
  padding: 15px 0px;
}
body .wrapper .tickets-category-nav-bar .content nav ul li {
  display: inline;
}
body .wrapper .tickets-category-nav-bar .content nav ul li a {
  text-decoration: none;
  color: #240700;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans", "sans-serif";
  font-size: 12px;
}
body .wrapper .tickets-category-nav-bar .content nav ul .selected {
  background-color: #333333;
  border-radius: 6px;
  padding-top: 2px;
  padding-bottom: 6px;
}
body .wrapper .tickets-category-nav-bar .content nav ul .selected a {
  color: #ffffff;
}
body .wrapper .content {
  width: 974px;
  margin: 0 auto;
}
body .wrapper .content .tickets-container form .ticket-box {
  margin-top: 40px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .checkbox {
  margin-top: 35px;
  padding: 25px 0px;
  float: left;
  width: 4%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 0 30px 10px #ccc;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .checkbox input {
  margin: 0 20px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box {
  float: left;
  width: 95%;
  box-shadow: 0px 0px 30px 10px #ccc;
  border-radius: 8px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel > div {
  float: left;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel > div .ticket-id,
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel > div .last-updated-label {
  display: block;
  font-size: 11px;
  font-family: "Open Sans", "sans-serif";
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel > div .ticket-id {
  padding: 0 20px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel > div .last-updated-label {
  color: #888888;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference,
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-desc {
  padding: 16px 0;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference {
  width: 12%;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference label {
  display: none;
  color: #ffffff;
  font-family: "Open Sans", "sans-serif";
  font-size: 10px;
  margin-top: 14px;
  padding: 8px 15px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference label.current {
  display: block;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference input[type="radio"] {
  display: none;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference .new {
  background-color: #fc9300;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference .open {
  background-color: #0065c9;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference .on-hold {
  background-color: #969632;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference .solved {
  background-color: #97c900;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-reference .closed {
  background-color: #636363;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-desc {
  width: 73%;
  padding-left: 10px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-desc h4,
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-desc p {
  font-family: "Open Sans", "sans-serif";
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-desc h4 {
  margin: 0;
  font-size: 14px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .ticket-desc p {
  margin-bottom: 0;
  margin-top: 14px;
  font-size: 12px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel .last-updated-time {
  width: 13%;
  font-size: 12px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-family: "Open Sans", "sans-serif";
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .summary-panel:after {
  content: '';
  display: block;
  clear: both;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel {
  background-color: #f2fafa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 44px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .interactive-buttons {
  border-right: 1px solid #ccc;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  width: 4%;
  float: left;
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  height: inherit;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel #reply {
  background-image: url("images/reply-icon.png");
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel #private-note {
  background-image: url("images/privatenote-icon.png");
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel #subscribe {
  background-image: url("images/subscribed.png");
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel > div {
  float: left;
  width: 15%;
  padding: 5px 0px 5px 10px;
  border-right: 1px solid #ccc;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel > div span {
  display: block;
  font-size: 11px;
  font-family: "Open Sans", "sans-serif";
  color: #888888;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel > div .edit {
  color: #888888;
  font-family: "Open Sans", "sans-serif";
  font-size: 13px;
  width: 110px;
  text-align: left;
  border: none;
  background-color: transparent;
  padding: 0;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel > div .icon {
  float: right;
  width: 5px;
  margin-right: 10px;
  background: url("images/down-arrow.png") no-repeat;
  display: none;
  border: 0;
  background-size: contain;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel div:hover .icon {
  display: inline-block;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel div:hover .edit {
  color: black;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .assigned-to select {
  width: 120px;
  font-size: 13px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .assigned-to select option {
  color: #888888;
  font-size: 13px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user {
  position: relative;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details {
  position: absolute;
  width: 200px;
  top: 54px;
  left: 0;
  background-color: #fff;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 3px 1px #cccccc;
  border-radius: 5px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-header {
  background-color: #f2fafa;
  padding: 5px 5px;
  overflow: hidden;
  border-radius: 5px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-header .close {
  border: 0;
  background-color: transparent;
  float: right;
  width: 18px;
  background-image: url("images/close.png");
  background-size: contain;
  background-repeat: no-repeat;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-header a {
  font-weight: bold;
  font-size: 11px;
  color: #555;
  font-family: "Open Sans", "sans-serif";
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-content {
  padding: 5px 5px;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-content .user-info-label {
  font-family: "Open Sans", "sans-serif";
  font-size: 10px;
  color: #888888;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-content span {
  font-weight: bold;
  color: #555;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .user-details .user-details-content .user-row2 div {
  float: left;
  width: 50%;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel .response-indicator {
  background-image: url("images/responded-icon.png");
  background-position: 50% 50%;
  display: inline-block;
  height: inherit;
  width: 60px;
  background-repeat: no-repeat;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1 .main-box .interaction-panel:after {
  content: '';
  display: block;
  clear: both;
}
body .wrapper .content .tickets-container form .ticket-box .ticket-row1:after {
  content: '';
  display: block;
  clear: both;
}
body .wrapper .content .tickets-container form .ticket-box .reply-box {
  display: none;
  margin-left: 40px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 1px #cccccc;
}
body .wrapper .content .tickets-container form .ticket-box .reply-box textarea {
  height: 40px;
  width: 500px;
  font-style: italic;
}
body .wrapper .content .tickets-container form .ticket-box .reply-box .field {
  margin-top: 22px;
}
body .wrapper .content .tickets-container form .ticket-box .reply-box .reply-box-buttons {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 11px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #999;
  padding: 5px 10px;
  margin-right: 3px;
  text-shadow: #666666 -1px -1px 0px;
}
body .wrapper .content .tickets-container form .ticket-box .reply-box.open {
  display: block;
}
body .wrapper .content .tickets-container form .ticket-box .private-note-box {
  display: none;
  margin-left: 40px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px 1px #ccc;
}
body .wrapper .content .tickets-container form .ticket-box .private-note-box textarea {
  height: 40px;
  width: 500px;
  font-style: italic;
}
body .wrapper .content .tickets-container form .ticket-box .private-note-box .field {
  margin-top: 22px;
}
body .wrapper .content .tickets-container form .ticket-box .private-note-box .private-note-buttons {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 11px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #999;
  padding: 5px 10px;
  margin-right: 3px;
  text-shadow: #666666 -1px -1px 0px;
}
body .wrapper .content .tickets-container form .ticket-box .private-note-box.open {
  display: block;
}
body .wrapper .content .tickets-container form .ticket-box:after {
  content: '';
  display: block;
  clear: both;
}
body .wrapper .content .tickets-container form .edit-ticket-status {
  display: none;
  border: 4px solid #616161;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 127px;
  margin: auto;
  background-color: #fcfcfc;
}
body .wrapper .content .tickets-container form .edit-ticket-status.open {
  display: block;
}
body .wrapper .content .tickets-container form .edit-ticket-status h3 {
  font-family: "Open Sans", "sans-serif";
  margin: 0;
}
body .wrapper .content .tickets-container form .edit-ticket-status p {
  font-size: 11px;
  font-family: "Open Sans", "sans-serif";
  color: #888888;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
  margin: 0;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul {
  padding: 0;
  margin: 0;
  margin-top: 9px;
  /* li:nth-child(1){
                background-color: #fc9300;
              }
              li:nth-child(2) {
                background-color: #0065c9;
              }
              li:nth-child(3) {
                background-color: #969632;
              }
              li:nth-child(4) {
                background-color: #97c900;
              }
              li:nth-child(5) {
                background-color: #636363;
              }*/
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li a {
  display: block;
  padding: 5px 5px;
  width: 88px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans", "sans-serif";
  font-size: 12px;
  text-transform: uppercase;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li .new {
  background-color: #fc9300;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li .open {
  background-color: #0065c9;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li .on-hold {
  background-color: #969632;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li .solved {
  background-color: #97c900;
}
body .wrapper .content .tickets-container form .edit-ticket-status ul li .closed {
  background-color: #636363;
}
